@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


* {
  /* box-sizing: border-box; */
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
  -webkit-justify-content: center;
    align-items: center;
  -webkit-align-items: center;
  
  
}



.carousel {
    width: 100%;
    height: 100vh;
    display: flex;
    max-width: 1200px;
    max-height: 550px;   
    overflow: hidden;
    position: relative;


}

.carousel-item {
    visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;

    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;

    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;
  

}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  left: 0;
  /* margin: auto; */

}



.carousel-item__image {
    width: 60%;
    height: 70%;
    margin-bottom: 60px;
    order: 2;
    border-radius: 15px;
    align-self: flex-end;
    flex-basis: 60%;

    margin-left: 150px;
    max-width: 500px;
    -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    /* color: #f3f1f1;     */
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
  color: rgb(110, 107, 107);

}

.carousel-item__title {
    margin: 15px 0 0 0;
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    /* color: #fffbfb; */
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
  color: rgb(110, 107, 107);

}

.carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #fffefe;

  color: rgb(110, 107, 107);

}

.carousel-item--1 .carousel-item__image{
  background-image: url('https://images.pexels.com/photos/991012/pexels-photo-991012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}


.carousel-item--2 .carousel-item__image{
  /* background-image: url('https://images.pexels.com/photos/921294/pexels-photo-921294.png?auto=compress&cs=tinysrgb&h=750&w=1260'); */
  
}

.carousel-item--3 .carousel-item__image{
  background-image: url('https://images.pexels.com/photos/92733/pexels-photo-92733.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.carousel-item--4 .carousel-item__image{
  background-image: url('https://images.pexels.com/photos/1008732/pexels-photo-1008732.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.carousel-item--5 .carousel-item__image{
  background-image: url('https://images.pexels.com/photos/1029614/pexels-photo-1029614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}



.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
    margin-top: 8.8%;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-right-radius: 15px;
   bottom: 1;
}







.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
  fill: #f9f9f9;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #ffffff;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active{
   z-index: 1;
  display: flex;
  visibility:visible;
}

.active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
}



.active .carousel-item__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0);

}



@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


.g-but{
    position: relative;
    display: inline-block;
    padding: 20px 0px;
    padding-left: 10px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
    font-weight: bold;

    letter-spacing: 4px;
    overflow: hidden;
   border-radius: 15px;
  width: 24%;
   
   color:#5c0000;

   font-family: 'Open Sans', sans-serif;
   letter-spacing: 3px;
   font-size: 11px;
   text-transform: uppercase;
}
.g-but:hover{
    background-color: rgb(255, 255, 255);
    color: #050801;

     /* -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);/ */
}
.g-but:nth-child(1){
    filter: hue-rotate(270deg);
}
.g-but:nth-child(2){
    filter: hue-rotate(110deg);
}
.g-but span{
    position: absolute;
    display: block;
}





@media screen and (max-width:600px){
  .g-but{
    width: 32%;

}
      

.carousel__nav{
  margin-top: 85%;
  margin-right: 64%;
  border-radius:20px ;
}

  }

  


@media screen and (min-width:601px) and (max-width : 1000px )  { 
  
  .g-but{
    width: 35%;
  
}



  }
      
  


  @media screen and (max-width: 768px),(max-width: 900px) {
    .carousel{
      height: 100%;
      /* margin-top: 40%; */

    }
    .carousel-item{
      display: flex;
      flex-direction: column;
    }
    .carousel-item__info {
      margin-left: 30px;

    }
  
    .carousel-item__image{
      margin-top:10%;
      max-width: 500px;
      min-height: 200px;
      margin-left: 0px;
      
  
    }
  
    .carousel-item__title {
      margin-left: 20%;
      
    }
  
    .carousel__nav{
      background-color: gray;
    }
  
      
    .g-but{
      width: 38%;
      margin-left: 25%;
    
    }
  
    .carousel-item__description{
      text-align: center;
    }

    .carousel-item__subtitle{
      /* margin-left: 20%; */
      display: none;
    }
  
  
  }
  
